<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/bootstrap-icons/bootstrap-icons.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Bibliothèque Medecine UNIKIN</title>
</head>
<body>
    <div class="wrapper">
        <div class="text-center mt-5 mb-3">
            <h4>UNIKIN/FACULTE DE MEDECINE</h4>
            <h4>BIBLIOTHEQUE CENTRALE</h4>
        </div>

        <main>
            <form action="index.html" class="log-form">
                <h4 class="mb-3">Connexion</h4>
                <label for="email">
                    Adresse email
                    <input type="email" name="email" id="email" class="form-control">
                </label>
                <label for="email">
                    Mot de passe
                    <input type="password" name="password" id="password" class="form-control">
                </label>
                <button type="submit" class="btn btn-success">Se connecter</button>
            </form>
        </main>

    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/script.js"></script>
</body>
</html>